<h2 mat-dialog-title>Registrar hoja de vida</h2>
<mat-dialog-content class="mat-typography">
    <div class="grid">
        <div class="col-11 md:col-11 lg:col-11">
            <label for="float-input">Número de identificación</label>
        </div>
        <div class="col-11 md:col-11 lg:col-11">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"></span>                
                <p-inputNumber 
                    #inputNumeroIdentificacion="ngModel"
                    name="inputNumeroIdentificacion"
                    id="id-inputNumeroIdentificacion"
                    class="centrarTextoInput"
                    [(ngModel)]="numeroIdentificacionRegistro"
                    [minFractionDigits]="0" [maxFractionDigits]="0"
                    [useGrouping]="false"
                    [maxlength]="10"
                    [required]="true"
                    autocomplete="off"
                >
                </p-inputNumber>                        
            </div>
        </div>
        <div class="col-11 md:col-11 lg:col-11">
            <label>Nombre</label>
        </div>
        <div class="col-11 md:col-11 lg:col-11">
            <div class="p-inputgroup anchoInput">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input  
                    #inputNombre="ngModel"
                    name="inputNombre"                
                    [(ngModel)]="nombre"                            
                    class="anchoInput"
                    autocomplete="off"                
                    [maxlength]="60"
                    pInputText
                    required />
                <!--<div *ngIf="inputLoginEmail.errors && (inputLoginEmail.invalid || inputLoginEmail.touched)">
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.required"> Campo Requerido </small>
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.pattern"> Formato de correo incorrecto </small>                            
                </div>-->
            </div>                    
        </div>

        <div class="col-11 md:col-11 lg:col-11">
            <label>Centro de Costo</label>
        </div>
        <div class="col-11 md:col-11 lg:col-11">
            <div class="p-inputgroup anchoInput">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input  
                    #inputCentro="ngModel"
                    name="inputCentro"                
                    [(ngModel)]="centro"                            
                    class="anchoInput"
                    autocomplete="off"                
                    [maxlength]="60"
                    pInputText
                    required />
                <!--<div *ngIf="inputLoginEmail.errors && (inputLoginEmail.invalid || inputLoginEmail.touched)">
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.required"> Campo Requerido </small>
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.pattern"> Formato de correo incorrecto </small>                            
                </div>-->
            </div>                    
        </div>

        <div class="col-11 md:col-11 lg:col-11">
            <label>Unidad de Negocio</label>
        </div>
        <div class="col-11 md:col-11 lg:col-11">
            <div class="p-inputgroup anchoInput">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input  
                    #inputUnidad="ngModel"
                    name="inputUnidad"                
                    [(ngModel)]="unidad"                            
                    class="anchoInput"
                    autocomplete="off"                
                    [maxlength]="60"
                    pInputText
                    required />
                <!--<div *ngIf="inputLoginEmail.errors && (inputLoginEmail.invalid || inputLoginEmail.touched)">
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.required"> Campo Requerido </small>
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.pattern"> Formato de correo incorrecto </small>                            
                </div>-->
            </div>                    
        </div>

        <div class="col-11 md:col-11 lg:col-11">
            <label>Perfil</label>
        </div>
        <div class="col-11 md:col-11 lg:col-11">
            <div class="p-inputgroup anchoInput">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <p-dropdown [options]="profiles" [(ngModel)]="selectedProfile" optionLabel="name" [showClear]="true" placeholder="Seleccione un perfil">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="selectedProfile">
                            <div>{{selectedProfile.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-profile pTemplate="item">
                        <div class="country-item">
                            <div>{{profile.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <!--<div *ngIf="inputLoginEmail.errors && (inputLoginEmail.invalid || inputLoginEmail.touched)">
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.required"> Campo Requerido </small>
                    <small [class.ocultar]="inputLoginEmail.errors && inputLoginEmail.errors.pattern"> Formato de correo incorrecto </small>                            
                </div>-->
            </div>                    
        </div>
        
        <div class="col-12 md:col-12 lg:col-12">
            <app-upload-file ></app-upload-file>
        </div>            
           
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="crear()" cdkFocusInitial>Crear</button>
</mat-dialog-actions>