<app-menu-principal></app-menu-principal>

<div class="grid">
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-10">
        <mat-card style="width: 100%;">
            <div class="flex align-items-center">
                <label>Estados: &nbsp; &nbsp; &nbsp;</label>
                <p-chip label="Todos" icon="pi pi-list" styleClass="mr-2" (click)="filtroPorEstados(1)" class="estado"></p-chip>
                <p-chip label="{{label1}}" icon="pi pi-list" styleClass="mr-2" (click)="filtroPorEstados(2)" class="estado"></p-chip>
                <p-chip label="{{label2}}" icon="pi pi-clock" styleClass="mr-2" (click)="filtroPorEstados(3)" class="estado"></p-chip>
                <p-chip label="{{label3}}" icon="pi pi-flag" styleClass="mr-2" (click)="filtroPorEstados(4)" class="estado"></p-chip>
                <p-chip label="{{label4}}" icon="pi pi-check"  styleClass="mr-2" (click)="filtroPorEstados(5)" class="estado"></p-chip>
                <p-chip label="{{label5}}" icon="pi pi-check"  styleClass="mr-2" (click)="filtroPorEstados(6)" class="estado"></p-chip>
            </div>
            <!--<p-chart type="doughnut" [data]="data1" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>x`
            <p-timeline [value]="events" layout="horizontal">
                <ng-template pTemplate="content" let-event>
                    {{event.status}}
                </ng-template>
            </p-timeline>-->
        </mat-card>
        
    </div>
</div>
<br>

<div class="grid">
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-10">
        <p-table #dt [value]="hojasDeVida" responsiveLayout="scroll"  [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['numberId','costCenter','name','recommendation','verified']">

            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="grid">
                        <div class="col-10 md:col-10 lg:col-9 letraMediana">
                            Personas registradas - {{mostrando}}
                        </div>
                        <div class="col-10 md:col-10 lg:col-2" style="align: right;">
                            <span class="p-button-icon-left">
                                <i class="pi pi-search"></i>
                                <button mat-button color="primary"  (click)="changeFilterStatus()">{{showFilterText}}</button>                                
                            </span>
                        </div>
                        <div class="col-10 md:col-10 lg:col-1" style="align: right;">
                            <p-button (click)="refresh()" icon="pi pi-refresh" pTooltip="Actualizar hojas de vida"></p-button>
                        </div>
                    </div>   
                                                         
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="numberId">Identificador<p-sortIcon field="numberId"></p-sortIcon></th>
                    <th pSortableColumn="costCenter">Centro de Costo<p-sortIcon field="costCenter"></p-sortIcon></th>
                    <th pSortableColumn="bussUnit">Und. de Neg<p-sortIcon field="bussUnit"></p-sortIcon></th>
                    <th pSortableColumn="profile">Perfil<p-sortIcon field="profile"></p-sortIcon></th>
                    <th pSortableColumn="name">Nombre Postulante<p-sortIcon field="name"></p-sortIcon></th>                                        
                    <th pSortableColumn="verified">Verificado<p-sortIcon field="verified"></p-sortIcon></th>
                    <th pSortableColumn="verificationDate">Fecha Verificación<p-sortIcon field="verificationDate"></p-sortIcon></th>
                    <th pSortableColumn="userAssign.name" *ngIf="rol != 2">Asignado a<p-sortIcon field="userAssign.name"></p-sortIcon></th>
                    <th pSortableColumn="creationDate">Fecha de creación<p-sortIcon field="creationDate"></p-sortIcon></th>
                    <th pSortableColumn="status" *ngIf="rol != 3"> Situación <p-sortIcon field="status"></p-sortIcon></th>
                    <th >Obs.</th>
                    <th style="text-align-last: center;">Acciones</th>
                </tr>
                <tr *ngIf="showFilter">
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'numberId', 'startsWith')" placeholder="123456" class="p-column-filter anchoInputBusqueda">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'costCenter', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'bussUnit', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'profile', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'name', 'startsWith')" placeholder={{nombre}} class="p-column-filter anchoInputBusqueda">
                    </th>
                    <th>
                        
                    </th>                    
                    <th>
                        <input pInputText type="date" (input)="dt.filter($any($event.target).value, 'verificationDate', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">    
                    </th>
                    <th *ngIf="rol != 2">
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'userAssign.name', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">                
                    </th>
                    <th>
                        <input pInputText type="date" (input)="dt.filter($any($event.target).value, 'creationDate', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">                
                    </th>
                    <th *ngIf="rol != 3">
                        <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'status', 'startsWith')" placeholder="" class="p-column-filter anchoInputBusqueda">                
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>              
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-h>
                <tr>
                    <td>{{h.numberId}}</td>
                    <td>{{h.costCenter}}</td>
                    <td>{{h.bussUnit}}</td>
                    <td>{{h.profile}}</td>
                    <td>{{h.name}}</td>
                    <td *ngIf="h.verified && h.profile === 'TIPO A'" class="siLabel"> {{ h.verified }} / {{ totalQuestions[0] }} </td>
                    <td *ngIf="h.verified && h.profile === 'TIPO B'" class="siLabel"> {{ h.verified }} / {{ totalQuestions[1] }} </td>
                    <td *ngIf="h.verified && h.profile === 'TIPO C'" class="siLabel"> {{ h.verified }} / {{ totalQuestions[2] }} </td>

                    <td *ngIf="!h.verified && h.profile === 'TIPO A'" class="siLabel"> 0 / {{ totalQuestions[0] }} </td>
                    <td *ngIf="!h.verified && h.profile === 'TIPO B'" class="siLabel"> 0 / {{ totalQuestions[1] }} </td>
                    <td *ngIf="!h.verified && h.profile === 'TIPO C'" class="siLabel"> 0 / {{ totalQuestions[2] }} </td>

                    <td *ngIf="h.verificationDate == null">No ha sido verificado</td>
                    <td *ngIf="h.verificationDate != null">{{h.verificationDate | date:'yy-MM-dd hh:mm'}}</td>

                    <td *ngIf="h.userAssign != null && rol != 2">{{h.userAssign.name}}</td>
                    <td *ngIf="h.userAssign == null && rol != 2">No ha sido asignado</td>
                    <td>{{h.creationDate | date:'yy-MM-dd HH:mm' }}</td>

                    <td *ngIf="h.status != null && h.status != undefined && rol != 3">{{ h.status }}</td>
                    <td *ngIf="(h.status == null || h.status == undefined) && rol != 3"> - </td>
                    <td>
                        <button mat-button color="primary" (click)="verObservacion(h)">Ver</button>
                    </td>
                    <td>                       
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>menu</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="verHojaDeVida(h)">
                              <mat-icon>chrome_reader_mode</mat-icon>
                              <span>Ver</span>
                            </button>
                            <button mat-menu-item (click)="asignar(h)" *ngIf="rol == 1 || rol == 3">
                              <mat-icon>assessment</mat-icon>
                              <span>Asignar</span>
                            </button>
                            <button mat-menu-item (click)="eliminarDialog(h)" *ngIf="rol == 1 || rol == 2">
                              <mat-icon>delete</mat-icon>
                              <span>Eliminar</span>
                            </button>
                            <button mat-menu-item (click)="abrirDialogFile(h)">
                                <mat-icon>attach_file</mat-icon>
                                <span>Ver archivos</span>
                            </button>
                            <button mat-menu-item (click)="abrirDialogReportes(h)">
                                <mat-icon>attach_file</mat-icon>
                                <span>Reportes</span>
                            </button>
                          </mat-menu>

                       <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="row">
                            <button mat-button color="primary"  (click)="verHojaDeVida(h)" *ngIf="rol !== 2">Ver</button>
                            <button mat-button color="primary" (click)="asignar(h)" *ngIf="rol == 1 || rol == 3">Asignar</button> 
                            <button mat-button color="primary" (click)="eliminarDialog(h)" *ngIf="rol == 1 || rol == 2">Eliminar</button> 
                            <button mat-button color="primary" (click)="abrirDialogFile(h)">Ver archivos</button> 
                        </mat-button-toggle-group>
                        -->
                    </td>   
                </tr>
            </ng-template>
        </p-table>
        <div class="col-10 md:col-10 lg:col-4 sm:col-3" id="right" *ngIf="rol === 2">
            <button mat-raised-button color="primary" (click)="agregar()" [disabled]="cargando" class="botonSiguiente"> <i class="fa-thin fa-plus"></i>Agregar</button>
        
        </div>
    </div>    
</div>
