<app-menu-principal></app-menu-principal>
<br>
<br>

<div class="grid">
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-10">
        <mat-card>
            <p-timeline [value]="events" layout="horizontal">
                <ng-template pTemplate="content" let-event>
                    {{event.status}}
                </ng-template>
            </p-timeline>
        </mat-card>
        
    </div>
</div>

<br>

<div class="grid">
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-10">
        <p-table [value]="hojasDeVida" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]">
           
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="numberId">Identificador<p-sortIcon field="numberId"></p-sortIcon></th>
                    <th pSortableColumn="name">Nombre Postulante<p-sortIcon field="name"></p-sortIcon></th>                    
                    <th pSortableColumn="recommendation">Recomendación<p-sortIcon field="recommendation"></p-sortIcon></th>
                    <th pSortableColumn="verified">Verificado<p-sortIcon field="verified"></p-sortIcon></th>
                    <th pSortableColumn="verificationDate">Fecha Verificación<p-sortIcon field="verificationDate"></p-sortIcon></th>
                    <th pSortableColumn="userBy.name">Verificado Por<p-sortIcon field="userBy.name"></p-sortIcon></th>                    
                    <th pSortableColumn="observation">Observaciones<p-sortIcon field="observation"></p-sortIcon></th>                    
                    <th style="text-align-last: center;">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-h>
                <tr>
                    <td>{{h.numberId}}</td>
                    <td>{{h.name}}</td>   
                    <td>{{h.recommendation}}</td>
                    <td *ngIf="h.verified" class="siLabel"> {{ h.verified }} / {{ totalQuestions }} </td>
                    <td *ngIf="!h.verified" class="noLabel"> 0/{{ totalQuestions }} </td>
                    <td *ngIf="h.userBy != null">{{h.verificationDate | date:'short'}}</td>
                    <td *ngIf="h.userBy == null">No ha sido verificado</td>
                    <td *ngIf="h.userBy != null">{{h.userBy.name}}</td>
                    <td *ngIf="h.userBy == null">No ha sido verificado</td>
                    
                    <td>
                        <button mat-button color="primary" (click)="verObservacion(h)">Ver</button>
                    </td>
                    <td>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <button mat-button color="primary" (click)="verHojaDeVida(h)" *ngIf="rol !== 1">Ver</button>
                            <button mat-button color="primary" (click)="asignar(h)" *ngIf="rol == 1">Asignar</button> 
                        </mat-button-toggle-group>
                        
                    </td>   
                </tr>
            </ng-template>
        </p-table>
        <div class="col-10 md:col-10 lg:col-4 sm:col-3" id="right" *ngIf="rol === 2">
            <button mat-raised-button color="primary" (click)="agregar()" [disabled]="cargando" class="botonSiguiente"> <i class="fa-thin fa-plus"></i>Agregar</button>
        
        </div>
    </div>
</div>

