<p-toast position="top-center"></p-toast>
<!-- HEADER -->
<div class="cuadroHeader">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-3 imagenLogo">
      <img src="./../assets/img/logo/logoSain.png" style="width: 50%;">
    </div>
    <div class="col-12 md:col-3 lg:col-1 centrarTextoVertical">
      <label class="letraHeader centrarTexto" routerLink="/inicio">
        Inicio
      </label>
    </div>    
    <div class="col-12 md:col-5 lg:col-2 centrarTextoVertical">
      <label class="letraHeader centrarTexto" routerLink="">
        Sobre nosotros
      </label>
    </div>    
    <div class="col-12 md:col-4 lg:col-2 centrarTextoVertical">
      <label class="letraHeader centrarTexto">
        Servicios
      </label>
    </div>    
    <div class="col-12 md:col-6 lg:col-2 centrarTextoVertical">
      <label class="letraHeader centrarTexto">
        Contactos
      </label>
    </div>    
    <div class="col-12 md:col-6 lg:col-1 centrarTextoVertical">
      <label class="letraHeader centrarTexto" routerLink="/login" *ngIf="!inicionSesiada">
        Login
      </label>
      <label class="letraHeader centrarTexto" (click)="cerrarSesion()" *ngIf="inicionSesiada">
        Cerrar Sesión
      </label>
    </div>
  </div>  
</div>
<br>
<!-- CONTENT -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- FOOTER -->
<div class="cuadroFooter">
  <img alt="" src="../assets/img/Untitled.jpg" data-original-width="422" data-original-height="96">
  <!--<div class="grid">
    <div class="col-10">
      <label class="letraFooter centrarTexto">
        SAIN <label class="letraPequena">®</label> 2022
      </label>
    </div>    
  </div>  -->
</div>



