<p-toast position="top-center"></p-toast>
<!-- HEADER -->
<div class="cuadroHeader">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-3 imagenLogo">
      <br>
      <img src="./../assets/img/logo/logoSain.jpg" style="width: 50%;">
    </div>
    <div class="col-12 md:col-12 lg:col-8 centrarTextoVertical">
      <mat-card class="matCardHeader">        
        <mat-card-actions align="end">                      
          <a class="letraHeader centrarTexto"  href="https://www.sain.com.co/">
            Inicio
          </a>  
          <a class="letraHeader centrarTexto" href="https://www.sain.com.co/Sobre-nosotros/">
            Sobre nosotros
          </a>
          <a class="letraHeader centrarTexto" href="https://www.sain.com.co/Servicios/">
            Servicios
          </a>
          <a class="letraHeader centrarTexto" href="https://www.sain.com.co/Contactos/">
            Contactos
          </a>
          <a class="letraHeader centrarTexto" href="https://www.sain.com.co/Pol%C3%ADtica-de-Datos/">
            Política de Datos
          </a>
          <label class="letraHeader centrarTexto" routerLink="/login" *ngIf="!inicionSesiada">
            Login
          </label>
          <label class="letraHeader centrarTexto" (click)="cerrarSesion()" *ngIf="inicionSesiada">
            Cerrar Sesión
          </label>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>  
</div>
<br>
<!-- CONTENT -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- FOOTER -->
<div class="cuadroFooter">
  <img alt="" src="../assets/img/Untitled.jpg" data-original-width="422" data-original-height="96">
  <!--<div class="grid">
    <div class="col-10">
      <label class="letraFooter centrarTexto">
        SAIN <label class="letraPequena">®</label> 2022
      </label>
    </div>    
  </div>  -->
</div>



