<div class="grid">
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-10">
        <mat-card>
            <mat-card-title>Bienvenido </mat-card-title>
            <mat-card-subtitle>{{rol}}</mat-card-subtitle>
            <mat-card-actions align="end">                      
                <button mat-button color="warn" routerLink="/revision">Inicio</button>        
                <button mat-button color="primary" routerLink="/hojaDeVida">Lista de Hojas de Vida</button>              
                <button *ngIf="showRegister" mat-button color="primary" routerLink="/registro">Registrar Proveedor</button>              
            </mat-card-actions>
        </mat-card>
        <p-divider></p-divider>
    </div>
    <!--
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-1"> 
        {{nombre}}
    </div>
    <div class="col-10 md:col-10 lg:col-9"> 
        <div class="card">
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div> ---->

</div>
