
<div class="grid">
    <div class="col-1 md:col-1 lg:col-1"></div>
    <div class="col-10 md:col-10 lg:col-10">
        <mat-card>
            <mat-card-title>Bienvenido {{nombre}}</mat-card-title>
            <mat-card-subtitle>End</mat-card-subtitle>
            <mat-card-actions align="end">                      
                <button mat-button color="warn" (click)="estado()">Estado</button>
                <button mat-button color="primary" (click)="formulario()">Hoja de vida</button>              
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<br>
<br>
<br>
<p-timeline [value]="events">
    <ng-template pTemplate="content" let-event>
        {{event.status}}
    </ng-template>
</p-timeline>
